{% extends "base_generic.html" %}

{% block content %}
    <h1>Воспоминания о посещенных местах...</h1>

    <h3>Добро пожаловать на сайт, который позволит оставить воспоминания о посещенных местах</h3>

    <div class="">
        <div class=" card-body " >
            <p class="card-text">Для работы с сайтом необходимо авторизоваться </p>
            <div >
                <button type="button" value="" class="btn btn-primary"
                        onClick='location.href="{% url 'social:begin' 'facebook' %}"'>Login with Facebook
                </button>
            </div>
        </div>
    </div>


{% endblock %}